<div class="container">
  <div class="row">
    <div class="f-left">
      <a href="#/series">
        <div class="home-image">
          <img src="./assets/images/clapperboard.png" alt="Series" width="100px" />
          <div class="image-text"><label>Series</label></div>
        </div>
      </a>
      <label>Popular Series</label>
    </div>
    <div>
      <a href="#/movies">
        <div class="home-image">
          <img src="./assets/images/clapperboard.png" alt="Movies" width="100px" />
          <div class="image-text"><label>Movies</label></div>
        </div>
      </a>
      <label>Popular Movies</label>
    </div>
  </div>
</div>