<footer>
  <div class="custom-container bg-black">
    <div class="footer-link">
      <span>
        <a href="#home">Home</a>
        |
        <a target="_blank" href="https://www.zirveyazilim.net/aydinlatma-metni/">Terms and Conditions</a>
        |
        <a target="_blank" href="https://www.zirveyazilim.net/gizlilik-bildirimi/">Privacy Policy</a>
        |
        <a target="_blank" href="https://www.zirveyazilim.net/bilgi-guvenligi/">Collection Statement</a>
        |
        <a target="_blank" href="https://www.zirveyazilim.net/sikca-sorulan-sorular/">Help</a>
        |
        <a target="_blank" href="https://www.zirveyazilim.net/bilgi-guvenligi/">Manage Account</a>
      </span>
    </div>
    <div class="footer-copyright">
      <span>Copyright © {{app.year}} {{app.name}}, {{app.author}} All Rights Reserved.
      </span>
    </div>

    <div class="footer-social">
      <div class="row">
        <div class="col-6">
          <a href="https://www.facebook.com/zirveyazilimnet" target="_blank" rel="noopener noreferrer">
            <img src="./assets/images/social/facebook-white.svg"
              onmouseover="this.src='./assets/images/social/facebook-blue.svg'"
              onmouseout="this.src='./assets/images/social/facebook-white.svg'" alt="Submit" width="25" height="25">
          </a>
          <a href="https://twitter.com/zirveyazilimnet" target="_blank" rel="noopener noreferrer">
            <img src="./assets/images/social/twitter-white.svg"
              onmouseover="this.src='./assets/images/social/twitter-blue.svg'"
              onmouseout="this.src='./assets/images/social/twitter-white.svg'" alt="Submit" width="25" height="25">
          </a>
          <a href="https://www.instagram.com/zirveyazilimnet" target="_blank" rel="noopener noreferrer">
            <img src="./assets/images/social/instagram-white.svg"
              onmouseover="this.src='./assets/images/social/instagram-blue.svg'"
              onmouseout="this.src='./assets/images/social/instagram-white.svg'" alt="Submit" width="25" height="25">
          </a>
        </div>
        <div class="col-6 text-right">
          <a href="#">
            <img src="./assets/images/store/app-store.svg" alt="Submit" height="40">
          </a>
          <a href="#">
            <img src="./assets/images/store/play-store.svg" alt="Submit" height="40">
          </a>
          <a href="#">
            <img src="./assets/images/store/windows-store.svg" alt="Submit" height="40">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>