<header>
  <div class="custom-container bg-primary text-white">
    <nav class="navbar justify-content-between p-0">
      <a href="#/home" class="navbar-brand text-white"><b>{{app.mainTitle}}</b></a>
      <div class="form-inline">
        <button class="btn btn-primary my-2 my-sm-0 mr-1px" type="submit">Login</button>
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Start your free trial.</button>
        </form>
    </nav>
  </div>
  <div class="custom-container bg-dark text-white">
    <h2 class="font-white">{{app.subTitle}}</h2>
  </div>
</header>